<p id="notice"><%= notice %></p>

<h1>Crops</h1>
<%= paginate @crops %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Countries</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crops.each do |crop| %>
      <tr>
        <td><%= crop.name %></td>
        <td>
          <% crop.countries.each do |country| %>
            <%= country.name %>,
          <% end %>
        </td>
        <td><%= link_to 'Show', crop %></td>
        <td><%= link_to 'Edit', edit_crop_path(crop) %></td>
        <td><%= link_to 'Destroy', crop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @crops %>
<br>

<%= link_to 'New Crop', new_crop_path %>
