<p id="notice"><%= notice %></p>

<h1>Countries</h1>

<%= form_tag(search_index_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<%= paginate @countries %>
<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Gdp</th>
      <th>Crops</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.code %></td>
        <td><%= country.name %></td>
        <td>
          <% if country.gdp.nil? || country.gdp == '' %>
            no data
          <% else %>
            <%= country.gdp %>
          <% end %>
        </td>
        <td>
          <% country.crops.each do |crop| %>
            <%= crop.name %>,
          <% end %>
        </td>
        <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
        <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @countries %>
<br>

<%= link_to 'New Country', new_country_path %>
